In [1]:
import pandas as pd

In [2]:
rio = pd.read_csv('agendamento_fase01_rio.csv')

In [3]:
rio.head()

         data    LOCAL   BAIRRO   ESPECIE cirurgia_realizada
0  2024-02-19  piedade  piedade  canino_m                sim
1  2024-02-19  piedade  piedade  felino_f                nao
2  2024-02-19  piedade  piedade  canino_f                sim
3  2024-02-19  piedade  piedade  felino_f                sim
4  2024-02-19  piedade  piedade  felino_m                sim

In [4]:
rio.columns[:-1]

Index(['data', 'LOCAL', 'BAIRRO', 'ESPECIE'], dtype='object')

In [5]:
len(rio)

1364

In [5]:
dicionario = dict(rio['LOCAL'].value_counts(normalize=True))
round(dicionario['guadalupe'],2)

0.33

In [6]:
locais = rio['LOCAL'].unique()

In [7]:
rio.loc[rio['LOCAL']==locais[1]]

           data    LOCAL      BAIRRO   ESPECIE cirurgia_realizada
37   2024-02-20  antares     antares  canino_f                sim
38   2024-02-20  antares  santa cruz  canino_m                sim
39   2024-02-20  antares  santa cruz  felino_f                sim
40   2024-02-20  antares  santa cruz  felino_m                sim
41   2024-02-20  antares     antares  felino_m                sim
..          ...      ...         ...       ...                ...
609  2024-03-19  antares  santa cruz  felino_f                sim
610  2024-03-19  antares  santa cruz  felino_m                sim
611  2024-03-19  antares  santa cruz  felino_f                sim
612  2024-03-19  antares  santa cruz  felino_m                nao
613  2024-03-19  antares  santa cruz  felino_m                sim

[332 rows x 5 columns]

In [8]:
cirurgias = pd.DataFrame(round(rio['cirurgia_realizada'].value_counts(),2)).reset_index()
cirurgias['count'][0]

852

In [9]:
eficacia = pd.DataFrame(rio.groupby(by='data').value_counts()/5).reset_index()

In [10]:
eficacia.to_csv('rio_agendamentos_eficacia.csv')

### Ajustando os dados de saída para o streamlit

In [41]:
escolha = list(rio['LOCAL'].unique())
rio.loc[rio['LOCAL']==escolha[2]]

            data      LOCAL        BAIRRO   ESPECIE cirurgia_realizada
614   2024-03-25  guadalupe     guadalupe  felino_m                nao
615   2024-03-25  guadalupe     guadalupe  felino_m                nao
616   2024-03-25  guadalupe     guadalupe  felino_m                nao
617   2024-03-25  guadalupe     guadalupe  felino_f                nao
618   2024-03-25  guadalupe     guadalupe  canino_m                nao
...          ...        ...           ...       ...                ...
1064  2024-04-30  guadalupe  costa barros  felino_f                nao
1065  2024-04-30  guadalupe     guadalupe  felino_f                nao
1066  2024-04-30  guadalupe     guadalupe  canino_m                sim
1067  2024-04-30  guadalupe      anchieta  canino_f                sim
1264  2024-05-22  guadalupe         bangu  felino_f                sim

[454 rows x 5 columns]

In [14]:
def teste():    
    sub_df = dict(rio)
    return sub_df

In [18]:
#teste1 = teste()
teste1 = pd.DataFrame(teste())
teste1.head(1)

         data    LOCAL   BAIRRO   ESPECIE cirurgia_realizada
0  2024-02-19  piedade  piedade  canino_m                sim

In [23]:
dict(teste1['ESPECIE'].value_counts())

{'felino_m': np.int64(389),
 'canino_f': np.int64(344),
 'felino_f': np.int64(340),
 'canino_m': np.int64(291)}

In [24]:
len(teste1['data'].unique())

64

In [29]:
sim_df = teste1.loc[teste1['cirurgia_realizada']=='sim']
cirurgias1 = pd.DataFrame(sim_df['ESPECIE'].value_counts()).reset_index()
cirurgias1

    ESPECIE  count
0  felino_m    264
1  felino_f    212
2  canino_f    206
3  canino_m    170

In [35]:
list1 = ['total']
list2 = cirurgias1['ESPECIE'].unique()
lista = list1.extend(list2)

In [37]:
list1

['total', 'felino_m', 'felino_f', 'canino_f', 'canino_m']